<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-8 p-5 offset-md-2" >
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header text-center">
                        <p class="fs-4">Add Admin</p>
                        <th:block th:if="${successMsg}">
                            <p class="text-success fw-bold">[[${successMsg}]]</p>
                        </th:block>
                        <th:block th:if="${errorMsg}">
                            <p class="text-danger fw-bold">[[${errorMsg}]]</p>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/addAdmin" enctype="multipart/form-data">
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">Full Name</label>
                                    <input class="form-control" name="name" type="text" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Mobile Number</label>
                                    <input class="form-control" name="mobileNumber" type="number" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" name="email" type="email" required>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">City</label>
                                    <input class="form-control" name="city" type="text" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Post Code</label>
                                    <input class="form-control" name="postCode" type="number" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" name="password" type="password" required>
                                </div>
                                <div class="col">
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control" name="confirmPassword" type="password" required>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-lable">Profile Photo</label>
                                <input class="form-control" name="file" type="file">
                            </div>
                            <button type="submit" class="btn bg-primary text-white col-md-12">Register</button>
                        </form>
                        <div class="card-footer text-center mt-3">
                            <p>Already have an account? <a href="/signin" class="text-decoration-none">Login Here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>