<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container p-5 mt-4">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card card-sh">
                        <div class="card-header text-center">
                            <p class="fs-4">Add Product</p>
                            <th:block th:if="${successMsg}">
                                <p class="text-success fw-bold">[[${successMsg}]]</p>
                            </th:block>
                            <th:block th:if="${errorMsg}">
                                <p class="text-danger fw-bold">[[${errorMsg}]]</p>
                            </th:block>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/admin/updateProduct" enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <div class="mb-3">
                                    <label>Enter Title</label>
                                    <input type="text" name="title" th:value="${product.title}" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label>Description</label>
                                    <textarea rows="3" cols="" class="form-control" th:text="${product.description}" name="description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label>Category</label>
                                    <select class="form-control" name="category">
                                        <option>[[${product.category}]]</option>
                                        <option th:each="cat:${categories}">[[${cat.name}]]</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="mb-3 col">
                                        <label>Price</label>
                                        <input type="number" name="price" th:value="${product.price}" class="form-control">
                                    </div>
                                    <div class="mb-3 col">
                                        <label>Enter Stock</label>
                                        <input type="number" name="stock" th:value="${product.stock}" class="form-control">
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <label>Upload Image</label>
                                    <input type="file" name="file" class="form-control">
                                </div>
                                <div class="col-md-12 offset-4">
                                    <img th:src="@{'/img/product_img/'+${product.image}}" height="120" width="160">
                                </div>
                                <button class="btn btn-primary col-md-12">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>