<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container-fluid mt-5 p-3">
            <div class="row">
                <p class="text-center fs-3 mt-2">All Products</p>
                <hr>
                <a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i>Back</a>
                <th:block th:if="${successMsg}">
                    <p class="text-success fw-bold text-center">[[${successMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
                <th:block th:if="${errorMsg}">
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    <p class="text-danger fw-bold">[[${errorMsg}]]</p>
                </th:block>
                <div class="col-md-4 p-3">
                    <form action="/admin/products" method="get">
                        <div class="row">
                            <div class="col">
                                <input type="text" name="ch" class="form-control" placeholder="Search product">
                            </div>
                            <div class="col">
                                <button class="btn btn-primary col">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card card-sh">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Serial No</th>
                                <th scope="col">Image</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                                <th scope="col">Discount(%)</th>
                                <th scope="col">Discount Price</th>
                                <th scope="col">Stock</th>
                                <th scope="col">isActive</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="prod, p : ${products}">
                            <th scope="row">[[${p.count}]]</th>
                            <td><img th:src="@{'/img/product_img/'+${prod.image}}" width="80" height="55"></td>
                            <td>[[${prod.title}]]</td>
                            <td>[[${prod.description}]]</td>
                            <td>[[${prod.category}]]</td>
                            <td>[[${prod.price}]]</td>
                            <td>[[${prod.discount}]]</td>
                            <td>[[${prod.discountPrice}]]</td>
                            <td>[[${prod.stock}]]</td>
                            <td>[[${prod.isActive}]]</td>
                            <td>
                                <a th:href="@{'/admin/loadEditProduct/'+${prod.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square fa-1x"></i>Edit</a>
                                <a th:href="@{'/admin/deleteProduct/'+${prod.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash fa-1x"></i>Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>
</html>